@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <img src="./images/fondo.jpg" alt="Principal" />
    <h1 class="display-4">Jesus Debug Te da La Bienvenida</h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
